prefix = "my"
aws_key_path = "~/.ssh/your-access-pem.pem"
aws_key_name = "your-access-pem"
aws_region = "us-east-1"
aws_jumpbox_ami = "ami-d05e75b8"
aws_bosh_lite_ami = "ami-ec4e3186"
jumpbox_name = "jumpbox"
bosh_lite_box_name = "bosh-lite"
bosh_lite_stemcell="https://s3.amazonaws.com/bosh-warden-stemcells/bosh-stemcell-3126-warden-boshlite-ubuntu-trusty-go_agent.tgz"
